.header-section{
    background-color: white;
    height: 120px;
}

.hero-section{
    background-color: teal;
    height: 300px;
    // background-image: url('/images/jumbotron.jpg');
    .jumbo{
        width: 100%;
    }
}
