

.content-section{
    height: 700px;
    background-color: #1C1C1C;
    position: relative;
    z-index: 1;


    .grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 30px;
    }
    // .card{
    //     padding: 15px;
    //   }

    //   .comic-image{
    //     object-fit: cover;
    //     object-position: top;
    //     width: 200px;
    //     height: 200px;
    //   }

      .card-title{
        font-size: 18px;
        text-transform: uppercase;
      }

      .carta{
        img{
          height: 200px;
          width: 200px;
        }
        color: white;
      }

      .btn-primary{
        font-weight: 600;
        border-radius: 0;
        text-transform: uppercase;
        padding: 7px 70px;
      }
}
